body {
    background-color: #add8e6;
    color: white;
    font-size: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 50%;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
    }
}
